body{
    background-color:rgb(245, 245, 240);
}
.btn-primary{
    background-color: #F15922;
    
}

.container {
    background-color: snow;
}

.BelowBookName {
    display: grid;
    grid-template-columns: 50% auto;
}

.sku, .views {
    font-size: 16px;
}

.instock {
    background-color: #F15922;
    color: white;
    padding: 5px 15px;
}

#avaibility {
    color: #1429D7;
    margin: 10px 0px;
    font-size: 1.2vw;
}

#borrow {
    background-color: #1429D7;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    padding: 4px;
    margin: 10px;
    border-radius: 19px;
}

#TagName {
    display: flex;
    background-color: #F15922;
    color: white;
    font-size: 1.2vw; 
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.checked {
    color: #1429D7; 
}

.fa-star {
    margin: 4px 0;
    padding: 5px 2px;
}

#label-intro, #label-comments, #label-add-comment {
    display: flex;
    background-color: lightgray;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-left: 80px;
}

.group-intro {
    text-align: center;
    padding: 15px;
}

#book-name, #intro {
    padding: 0 70px;
    text-align: left;
}

#see-more {
    background-color: #F15922;
    display: block;
    border: none;
    border-radius: 10px;
    color: snow;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 30px;
}

.same-category {
    background-color: #1429D7;
    color: white;
    margin: 10px auto;
    padding: 40px 0;
}

#label-same-category {
    font-size: 20px;
    padding-right: 5px;
    border-right: 3px solid white;
}

#book-name-category {
    font-size: 16px;
}

img, svg, .cmt-username {
    max-width: 100%;
    max-height: 100%;
}

.bi-person-circle {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    fill: #1429D7;
}


.add-image {
    color: #1429D7;
    padding: 3px;
    border: 2px solid;
    border-radius: 8px;

}

.btn-submit {
    background-color: #F15922;
    border: none;
    border-radius: 19px;
    color: white;
    display: block;
    margin: 0px auto;
    padding: 5px 20px;
    font-weight: bold;
}

.search-result {
    margin: 10px auto;
    border: 1px solid #1429D7;
}