
a{
    color: black;
    font-size: 20px;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1150px;
}


.bg
{
    background-image: url(/image/library.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg-color{
    background-color: rgba(20, 41, 215, 0.68);
}

.format-2{
    font-size: 35px;
    color: white;
    text-align: right;
    font-weight: bold;
    padding: 15px 0px 15px 10px;
    
}

.btn-primary{
    background-color: #F15922;
    
}

.format-img{
    width: 80%;
}

.format-text{
    text-align: right;
    color: #1429D7;
    font-weight: bold;
    font-size: medium;
}

.format-search{
    background-color: #F15922;
    text-align: center;
    color: white;
}


.format-choice{
    color: #1429D7;
    text-decoration: underline;
    font-weight: bold;
}

.format-color-white{
    color: white;
   
}

.border-x{
    border-right: 1px solid #1429D7;
}

.format-color-bg
{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.format-text-sm{
    text-align: center;
    font-size: medium;
}

.fm-text-medium-white{
    text-align: center;
    font-size: medium;
    color: white;
}

.set-topic{
    font-weight: bold;
}

.col-24{
    flex: 0 0 18%;
    max-width: 18%;
}

.format-form{
    border: 2px solid #1429D7;
    border-radius: 10px;
  
}

.format-btn{
    background-color: #1429D7;
    color: white;
    text-align: center;
    font-weight: bold;
    
}

.padding-for-all{
    padding: 50px 0px;
}