
a{
    color: black;
    font-size: 20px;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1150px;
}


.bg
{
    background-image: url(/image/library.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg-color{
    background-color: rgba(20, 41, 215, 0.68);
}

.format-2{
    font-size: 35px;
    color: white;
    text-align: right;
    font-weight: bold;
    padding: 15px 0px 15px 10px;
    
}


primary{
    background-color: #F15922;
    
}

.format-img{
    width: 80%;
}

.format-text{
    text-align: right;
    color: #1429D7;
    font-weight: bold;
    font-size: medium;
}

.format-search{
    background-color: #F15922;
    text-align: center;
    color: white;
}


.format-choice{
    color: #1429D7;
    text-decoration: underline;
    font-weight: bold;
}

.format-color-white{
    color: white;
   
}

.border-x{
    border-right: 1px solid #1429D7;
}

.format-color-bg
{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.format-text-sm{
    text-align: center;
    font-size: medium;
}

.fm-text-medium-white{
    text-align: center;
    font-size: medium;
    color: white;
}

.set-topic{
    font-weight: bold;
}

.col-24{
    flex: 0 0 18%;
    max-width: 18%;
}

.format-form{
    border: 2px solid #1429D7;
    border-radius: 10px;
  
}

.format-btn{
    background-color: #1429D7;
    color: white;
    text-align: center;
    font-weight: bold;
    
}

.padding-for-all{
    padding: 50px 0px;
}

#more-images {
    border: 1px solid black;
    padding: 5px;
    margin: 10px 10px;
}

.BelowBookName {
    display: grid;
    grid-template-columns: 50% auto;
}

.instock {
    background-color: #F15922;
    color: white;
    padding: 5px 15px;
}

#borrow {
    background-color: #1429D7;
    color: white;
    text-align: center;
    margin: 5px 4px;
    padding: 0px 4px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-tag {
    display: flex;
    background-color: #F15922;
    color: white;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.checked {
    color: #1429D7; 
}

.fa-star {
    margin: 4px 0;
    padding: 5px 2px;
}

#label-intro, #label-comments, #label-add-comment {
    display: flex;
    background-color: lightgray;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-left: 80px;
}

.group-intro {
    text-align: center;
    padding: 15px;
}

#book-name, #intro {
    padding: 0 70px;
    text-align: left;
}

#see-more {
    background-color: #F15922;
    display: block;
    border: none;
    border-radius: 10px;
    color: snow;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 30px;
}

.same-category {
    background-color: #1429D7;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 40px 0;
}

#label-same-category {
    font-size: 20px;
}

#book-name-category {
    font-size: 16px;
}

img, svg, .cmt-username {
    max-width: 100%;
    max-height: 100%;
}

.bi-person-circle {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    fill: #1429D7;
}


.add-image {
    color: #1429D7;
    padding: 3px;
    border: 2px solid;
    border-radius: 8px;

}

.btn-submit {
    background-color: #F15922;
    border: none;
    border-radius: 19px;
    color: white;
    display: block;
    margin: 0px auto;
    padding: 5px 20px;
    font-weight: bold;
}

.search-result {
    margin: 10px auto;
    border: 1px solid #1429D7;
}
